@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFAF6;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #055D4B;
}
